
body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background:#0F172A;
}

.main-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.card{
    width:800px;
    max-width:95%;
    background:#1E293B;
    padding:35px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

h1{
    color:#FFFFFF;
    text-align:center;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#CBD5E1;
    margin-bottom:25px;
}

label{
    color:#FFFFFF;
    font-weight:bold;
}

textarea{
    width:100%;
    margin-top:10px;
    padding:15px;
    border:none;
    border-radius:10px;
    resize:none;
    font-size:16px;
    outline:none;
    box-sizing:border-box;
}

.button-group{
    margin-top:20px;
    display:flex;
    gap:10px;
}

button{
    background:#14B8A6;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

button:hover{
    background:#0D9488;
}

.clear-btn{
    background:#475569;
}

.clear-btn:hover{
    background:#334155;
}

.result-box{
    margin-top:25px;
    background:#0F172A;
    padding:20px;
    border-radius:10px;
    text-align:center;
}

.result-box h2{
    color:white;
}

.result-box p{
    color:#14B8A6;
    font-size:22px;
    font-weight:bold;
}
